* {
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #101011;
    display: block;
    margin: 8px;
}

html, body {
    margin: 0;
    height: 100%;
}

header {
    background-color: #fff;
    padding: 25px 0;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
 
}

.nav-header{
    display: flex;
    justify-content: flex-end; 
    padding-left: 450px;
}

.nav-menu {
    display: flex;
    margin: 0;
    list-style-type: none;
    gap: 20px;
    align-items: center; 
}

.nav-item{

    margin: 0 10px;
}
.nav-link{
    text-decoration: none;
    color: #101011; 
    
}
.nav-link-contacto {
    background-color: #8338ec; 
    color: #fff;
    padding: 0px 30px; 
    font-size: 1em; 
    border-radius: 25px; 
    text-align: center; 
    transition: background-color 0.3s ease; 
    text-decoration: none;
    width: 151.45px;
    height: 40px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.nav-link-contacto:hover {
    background-color: #995cef; 
}

