* {
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #101011;
    margin: 0;
    padding-top: 90px; 
}

html, body {
    margin: 0;
    height: 100%;
}

header {
    background-color: #fff;
    padding: 25px 0;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
 
}

.nav-header{
    display: flex;
    justify-content: flex-end; 
    padding-left: 450px;
}

.nav-menu {
    display: flex;
    margin: 0;
    list-style-type: none;
    gap: 20px;
    align-items: center; 
}

.nav-item{
    margin: 0 10px;
}
.nav-link{
    text-decoration: none;
    color: #101011; 
    
}

 .nav-link:active,.nav-link:focus,.nav-link:hover {
    color: rgb(192, 166, 215); 
    outline: none; 
}
.nav-link-contacto {
    background-color:rgb(192, 166, 215); 
    color: #fff;
    padding: 0px 30px; 
    font-size: 1em; 
    border-radius: 25px; 
    text-align: center; 
    transition: background-color 0.3s ease; 
    text-decoration: none;
    width: 151.45px;
    height: 40px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.nav-link-contacto:active {
    background-color: #995cef; 
    
}

 .about-section {
    min-height: calc(100vh - 90px);
    margin-top: 90px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}



.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
}


.about-info {
    width: 100%;
    max-width: 500px;
    text-align: left;
}

.about-img {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: auto; 
}
 
img {
    display: block;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    height: auto; 
}

.what-Ido{
    background-color:rgb(192, 166, 215); 
    color: #fff;
    padding: 0px 30px; 
    font-size: 1em; 
    border-radius: 25px; 
    text-align: center; 
    transition: background-color 0.3s ease; 
    text-decoration: none;
    width: 198.5px;
    height: 49.33px; 
    display: flex;
    align-items: center; 
    justify-content: center; 

}

.what-Ido:active {
    background-color: #995cef; 
    
}

.nav-link.selected, .button {
    transition: 0.2s;
}
.greeting {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}
p {
    line-height: 1.4;
}

.about-name {
    margin-top: 0;
    margin-bottom: 5px;
    color: rgb(145, 90, 193);
    white-space: nowrap;
}

h1{
    font-size: 60px;
    font-weight: 900;
}

.about-description {
    color: #616161;
    font-size: 16px;
    margin-bottom: 40px;
}



.skills-section {
    background-color: #f6f7fb;
}
.section {
    display: flex;
    justify-content: center;
    padding: 110px 40px 130px;
    text-align: center;
}

.column {
    width: 100%;
    max-width: 1100px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2, .text--xl {
    font-size: 45px;
    font-weight: 900;
}

h1, h2, h3, h4, form legend {
    color: black;
    margin-bottom: 0.375em;
    line-height: 1.2;
}

.skills-description {
    max-width: 400px;
}
p {
    line-height: 1.4;
}

.skills-grid {
    display: grid;
    justify-content: center;
}

.grid-item {
    color: #2e2e31;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 260px;
    margin: 10px;
    padding: 30px;
   
}

.icon {
    font-size: 4.71em;
    margin-top: 24px;
    margin-bottom: 20px;
    display: block;
    transition: 0.3s;
}


.skill-title {
    font-size: 1.25em;
    font-weight: 700;
}


.quote {
    
    background-color: rgb(192, 166, 215);
    padding: 110px 40px 130px;
    font-size: 1.5rem;
    color: white;
   
  }
  

  .quote-icon {
    font-size: 5rem;
    margin-bottom: 20px;
}



  .frase-container {
    text-align: center;
  }
  
  .frase {
    font-size: 24px;
    font-style: italic;
  }
  
  .autor {
    font-size: 18px;
    margin-top: 10px;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    color: #2e2e31;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 342.66px;
    height: 348.33;
    margin: 10px;
    padding: 30px;
}

  .grid-item img {
    max-width: 100%; 
    height: auto;
    display: block;
}
  .project-title {
    margin-top: auto; 
    font-size: 1em;
    font-weight:600;
    text-align: center; 
}

.project-description {
    max-width: 400px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}


.project {
    color: #2e2e31;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 260px;
    margin: 10px;
    padding: 30px;
   
}



.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
     background-color: #f9f9f9; 

   
}

.contact-container {
    width: 100%;
    max-width: 1100px; 
    background-color: #ffffff; 
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    height: 692px;
    padding-bottom: 10rem;
}

.contact-info, .contact-form {
    flex: 1;
    min-width: 300px; 
    margin-top: 50px;
}

.contact-info h2, .contact-form h2 {
  
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 900;
}


.contact-info p {
    
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    max-width: 400px; 
   
   
}



.contact-info .social-icons {

    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 10px; 

    
}


.contact-info .social-icons a span {
    color: #000000; 
    font-family: 'Montserrat', sans-serif;
}

.contact-info .social-icons a {
    margin-bottom: 30px;
    color: #8338ec;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
}


.contact-info .social-icons a i {
    margin-right: 10px; 
    color: rgb(145, 90, 193);
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid #c7b5df; 
  
}

.name-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}

.textoContacto {
    flex-grow: 1;
}

.labelContacto {
    display: block;
}

.inputContacto {
    width: 100%;
}

.contact-form input[type="submit"] {
    background-color: rgb(192, 166, 215);
    color: white;
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    width: 131px;  
    height: 50px;  
    padding: 0;
}



#mensaje {
    width: 100%;
    height: 150px;
    resize: vertical;
}



.footer {
    background-color: rgb(192, 166, 215);
    padding: 80px 20px 60px;
    text-align: center;
 
  
}
  
    .footer-nav {
    margin-bottom: 20px;
  }
  
  .footer-nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-size: 16px;
  }
  
  .social-icons a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-size: 24px;
  }
  
  .made-with-love {
    margin-top: 20px;
    font-size: 14px;
  }
  
  i.fas.fa-heart {
    color: #FF0000;
    font-size: 18px;
  }

  
  .linkedin .text {
    color: black;
    font-size: 16px;
  }
  
  .correo.text {
    color: black;
    font-size: 16px;
  }
  
  .twitter .text {
    color: black;
    font-size: 16px;
  }
  
  .discord .text {
    color: black;
    font-size: 16px;
  }


.social-icon {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    justify-content: center; 
    align-items: center;
    margin-top: 20px; 
  }
